header {
  margin-top: 15rem;
  text-align: center;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  header {
    margin-top: 5rem;
  }
}
header p {
  text-align: left;
}
img#flag {
  width: 50px;
  margin-bottom: 5rem;
}

#results {
  border-bottom: 1px solid #CCC;
  text-align: center;
}
form {
  text-align: center;
}
fieldset {
  display: inline;
  margin-right: 2rem;
}
a.location {
  padding-left: 15px;
}
img.location {
  margin-right:10px;
  margin-top:5px;
  display:block;
  height: 24px;
  width: 24px;
  float:left;
}
p#or {
  display: inline;
  font-style: italic;
  margin-right: 2rem;
}

.note {
  display: inline-block;
  margin: 2rem 0;
  color: #999;
}
div.representative {
  margin-bottom: 2rem;
}
div.representative p {
  margin-bottom: 1rem;
}

section#social {
  margin-top: 2rem;
  text-align: center;
  color: #999;
}
section#social p {
  margin: 1rem;
}
section#social iframe {
  vertical-align: middle;
}

div.info {
  margin: 2rem 0;
  padding: 2rem 0;
  background-color: #EEE;
}
div.info p:last-child {
  margin-bottom: 0;
}

footer {
  margin-bottom: 2rem;
  color: #999;
}
footer p {
  margin-bottom: 0;
}